<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form action="">
            <label v-for="item in origin">
                <input type="checkbox" :value="item" v-model="checkbox">{{item}}
            </label>
            <h3>{{checkbox}}</h3>
        </form>
    </div>
    <script src="../../js/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                origin: ['Pizza', 'KFC', 'Mc Donald', 'BurgerKing'],
                checkbox: []
            }
        })
    </script>
</body>
</html>